* {
    font-family: Arial, Helvetica, sans-serif;
}
div {
    display: block;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.rounded {
    border-radius: 25px;
}
.shadow {
    filter: drop-shadow(16px 16px 10px #888888);
}
article p,
article h3 {
    float: left;
    clear: both;
}
footer {
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}
/*flex system*/ 
.flex-container {
    display: flex;
    margin-bottom: 10px;
}
[class*="col"]{
    margin-left: 1%;
    margin-right: 1%;
}
.col-full {
    flex-basis: 98%;
}
.col-large {
    background-color: green;
    text-align: left;
    flex-basis: 73%;
}
.col-medium{
    background-color: blue;
    flex-basis: 48%;
    text-align: center;
}
.col-small {
    background-color: yellow;
    flex-basis: 23%;
}
.col-xsmall {
    background-color: gray;
    flex-basis: 10%;
}
.wrapper {
    max-width: 1150px;
    margin: 0 auto;
}


article, aside {
    text-align: center;
}

article li {
    clear: both;
}

/*nav*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(70deg, black, gray);
}
nav li {
    float: left;
}
li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    transition-property: color, background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
a:hover,
a:focus {
    color: #333;
    background-color: #fff;
}
.navbar {
    margin-bottom: 20px;
}

/*table*/
table {
    display: block;
    clear: both;
    border-collapse: collapse;
    width: 100%;
}
td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: cornflowerblue;
}

    